# R session/user junk
.Rhistory
.RData
.Rproj.user/

# Editor
.vscode/

# Build artefacts
doc/
inst/doc/
Meta/
.Rcheck/
CRAN-SUBMISSION

# Vignette build outputs
vignettes/preview/
vignettes/*.html
vignettes/*.pdf
